doctype html
html
    head
        title
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        link(href='static/css/style.css', rel='stylesheet')
    
    body
        #error
            h1=error
            h1(id="status")=status
             
