extends layout.pug

block content
    .container
      .row
        .col-xs-12
          #main
            h1#heading Read & Share Books
            p(id='') Choose from our large collection of paid and free books!
            #btn
              button.btn-lg.btn-success Get Started for FREE