extends layout

block content
 .container
      .row
        .col-xs-8
          #signup
            h1#heading Sign Up
            if error
              .alert.alert-danger
                strong Error: 
                =`${error}`

            form(action='/register', method='POST')
              .form-group
                label(for='name') Name:
                input#name.form-control(type='text', name="name")
              .form-group
                label(for='email') Email:
                input#email.form-control(type='email', name="email")
              .form-group
                label(for='pwd') Favorite Book:
                input#book.form-control(type='text',  name="favoriteBook")
              .form-group
                label(for='pwd') Password:
                input#pwd.form-control(type='password', name="password")
              .form-group
                label(for='pwd') Confirm Password:
                input#confirm-pwd.form-control(type='password', name="confirm_pass")
              button.btn.btn-success(type='submit') Sign Up
