extend test2

block here
    mixin row(items)
        table
            each item, index in items
                td= item
    
    - var node = ["express", "hapi", "derby"]

    +row(node)

block foot
    -var coins = 0
    -var obj = {name: "ok"}
    case coins
        when 0
            p(id=(obj.name)) You have no Money
        when 1
            p You have $1
        default
            p You have $100